<%= simple_form_for(@ad) do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% @ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.input :budget %><br>
  </div>

  <h3>Creatives</h3>
   <div>
    <%= f.simple_fields_for :creatives do |item| %>
      <%= render "creative_fields", f: item %>
    <% end %>
    <%= link_to_add_association 'add creative', f, :creatives %>
  </div>
  <h3>Targeting</h3>
   <div>
    <%= f.simple_fields_for :targetings do |item| %>
      <%= render "targeting_fields", f: item %>
    <% end %>
    <%= link_to_add_association 'add targeting', f, :targetings %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
