<%= simple_form_for(@ad, validate: true,  html: {class: 'form-horizontal' }) do |f| %>
  <%= f.input :budget , as: :string%>
  <h3>Creatives</h3>
   <div>
    <%= f.simple_fields_for :creatives, validate: true do |item| %>
      <%= render "creative_fields", f: item %>
    <% end %>
    <%= link_to_add_association 'add creative', f, :creatives, :class=>"btn btn-default" %>
  </div>
  <h3>Targeting</h3>
   <div>
    <%= f.simple_fields_for :targetings, validate: true do |item| %>
      <%= render "targeting_fields", f: item %>
    <% end %>
    <%= link_to_add_association 'add targeting', f, :targetings, :class=>"btn btn-default" %>
  </div>
  <br/>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
