<h1>Ads</h1>
<div class="text-right">
<%= link_to 'New Ad', new_ad_path, :class=>"btn btn-default" %>
</div>
<table class='table'>
  <thead>
    <tr>
      <th>Budget</th>
      <th class='col-sm-1 col-xs-1' colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ads.each do |ad| %>
      <tr>
        <td><%= ad.budget %></td>
        <td><%= link_to ' ', ad, {:class=> "glyphicon glyphicon-search"} %></td>
        <td><%= link_to ' ', edit_ad_path(ad),{:class=>"glyphicon glyphicon-pencil"} %></td>
        <td><%= link_to ' ', ad, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "glyphicon glyphicon-trash" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="pagination">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
