<h1>Ad</h1>


<ul class="list-group" >
  <li class="list-group-item" >
    <div class="col-sm-2"><strong>Title: </strong></div>
    <%= @ad.title %>
  </li>
  <li class="list-group-item" >
    <div class="col-sm-2"><strong>Budget: </strong></div>
    <%= number_to_currency @ad.budget %>
  </li>
</ul>

<div class="panel panel-info">
  <div class="panel-heading">Creatives</div>
  <div class="panel-body">
    <%= render partial: "creative", collection: @ad.creatives %>
  </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading">Targetings</div>
  <div class="panel-body">
    <%= render partial: "targeting", collection: @ad.targetings %>
  </div>
</div>

<%= link_to 'Back', ads_path, :class=>"btn btn-default" %>
<%= link_to 'Edit', edit_ad_path(@ad), :class=>"btn btn-default" %> 
