<%= form_for([@targeting.ad, @targeting]) do |f| %>
  <% if @targeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@targeting.errors.count, "error") %> prohibited this targeting from being saved:</h2>

      <ul>
      <% @targeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :places %><br>
    <%= f.text_field :places %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select :gender, Targeting.genders.keys  %>
  </div>
  <div class="field">
    <%= f.label :ad_id %><br>
    <%= f.text_field :ad_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
