<p id="notice"><%= notice %></p>

<h1>Listing Targetings</h1>

<table>
  <thead>
    <tr>
      <th>Places</th>
      <th>Gender</th>
      <th>Ad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @targetings.each do |targeting| %>
      <tr>
        <td><%= targeting.places %></td>
        <td><%= targeting.gender %></td>
        <td><%= targeting.ad %></td>
        <td><%= link_to 'Show', ad_targeting_path(targeting.ad, targeting) %></td>
        <td><%= link_to 'Edit', edit_ad_targeting_path(targeting.ad, targeting) %></td>
        <td><%= link_to 'Destroy', ad_targeting_path(targeting.ad, targeting), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Targeting', new_ad_targeting_path %>
