<p id="notice"><%= notice %></p>

<p>
  <strong>Places:</strong>
  <%= @targeting.places %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @targeting.gender %>
</p>

<p>
  <strong>Ad:</strong>
  <%= @targeting.ad %>
</p>

<%= link_to 'Edit', edit_ad_targeting_path(@targeting.ad, @targeting) %> |
<%= link_to 'Back', ad_targetings_path %>
