<p id="notice"><%= notice %></p>

<p>
  <strong>Bid:</strong>
  <%= @creative.bid %>
</p>

<p>
  <strong>Adtext:</strong>
  <%= @creative.adtext %>
</p>

<p>
  <strong>Ad:</strong>
  <%= @creative.ad %>
</p>

<%= link_to 'Edit', edit_ad_creative_path(@creative.ad, @creative) %> |
<%= link_to 'Back', ad_creatives_path %>
